

DATABASE_URL="postgresql://postgres:password@localhost:5432/posdb"
JWT_SECRET="supersecret"
CLOUDFLARE_TUNNEL_TOKEN="eyJhIjoiNzBjZjE3YjI1MDc5YmU3ZTFhNGU4MDkxM2RmODhiZTUiLCJ0IjoiMGE1N2VmNTQtYjI1Yy00ZmU1LTgzNmUtN2Y3MzA3NzhhMWE2IiwicyI6Ik1URXhZamhtTWpJdFlqWXpaUzAwWW1NNExUazNNMk10WVdSalkyWmlaRE00WkRjNSJ9"